@font-face {
  font-family: 'WildMonth';
  src: url('assets/wildMonthFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$text: #1C2936;
$orange: #FFA567;
$bg: #FFFBF5;

::-webkit-scrollbar {
  width: 0;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $bg;
  font-family: Rufina;
  margin: 0;
  padding: 0;
  color: $text;
}
h1 {
  margin: 0;
  font-family: "WildMonth";
  font-size: 64px;
  color: #1C2936;
  font-weight: 100;
  line-height: 120%;
  max-width: 700px;
}
h2 {
  margin: 0;
  font-family: "WildMonth";
  font-size: 48px;
  color: #1C2936;
  font-weight: 100;
  line-height: 120%;
  max-width: 600px;
}
input {
  font-family: Rufina;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  font-family: Rufina;
  font-size: 16px;
  font-weight: 500;
}
.accentBG {
  background-color: $orange;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
  &:hover {
    background-color: #feac75;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
  }
}
.reserveButton {
  cursor: pointer;
  padding: 12px 30px;
  background-color: $orange;
  border-radius: 10px;
  @media (hover: hover) {
    &:hover {
      color: $text;
    }
  }
}

.page-header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 4;
  transition: 0.5s ease-in-out;
  .headerContainer {
    display: flex;
    max-width: 1400px;
    width: 100%;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    .header-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  @media (max-width: 768px) {
    .burger-btn {
      display: block;
    }
    .navigation {
      position: fixed;
      top: 64px;
      bottom: 0;
      left: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: white;
      transition: left 0.3s ease-in;
      .navigation-link {
        font-size: 20px;
        line-height: 150%;
        transition:
          color 0.4s ease,
          background-color 0.4s ease;
      }
      &.active {
      left: 0;
      }
      .navigation-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        overflow: scroll;
      }
    }
  }
}
.burger-btn {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  &:hover {
    cursor: pointer;
  }
  &::before,&::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 20px;
    border-radius: 2px;
    background-color: $text;
    transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out, bottom 0.3s 0.3s ease-in-out;
  }
  &::before {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);  
  }
  &::after {
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
  &.active {
    &::before, &::after {
      transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
    }
    &::before {
      top: 19.5px;
      transform: translateX(-50%) rotate(45deg);
    }
    &::after {
      bottom: 19.5px;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}
.logo {
  display: flex;
  align-items: center;  
  width: 48px;
  &:hover {
    cursor: pointer;
  }
}
.navigation-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}
.navigation-item {
  list-style: none;
  font-family: Rufina;
  display: flex;
  justify-content: center;
}
.navigation-link:not(.reserveButton) {
  padding: 12px 20px;
  border-radius: 12px;
  transition:
    color 0.4s ease,
    background-color 0.4s ease;
  @media (hover: hover) {
    &:hover {
      color: $orange;
    }
  }
  @media (hover: none) {
    &:active {
      color: $orange;
    }
  }
}


a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
  &:hover {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
}
footer {
  background: #FFFBF5;
  position: relative;
  bottom: 0;
  width: 100%;
}
main {
  section {
    margin: 0 auto;
  }
}
.sectionContainer {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0 50px;
  padding: 100px 50px;
  display: flex;
  .containerText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    p {
      margin: 0;
      max-width: 560px;
      font-size: 20px;
    }
    .containerButtons {
      display: flex;
      gap:40px;
      align-items: center;
    }
  }
}

.discover {
  background: radial-gradient(ellipse at 120% 150%, #fffbf5 0%,#ffe0e0 23%,#fff9e5 64%,#ece6fa 100%);
  .sectionContainer {
    justify-content: space-between;
    align-items: center;
    .imgContainer {
      max-width: 500px;
      margin-left: 30px;
      
      img {
        width: 100%;
        border-radius: 20px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .containerText {
    h1 {
      max-width: 700px;
    }
    p {
      max-width: 560px;
    }
  }
}


.cocktails {
  .sectionContainer {
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    img {
      max-width: 500px;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    }
    .containerText {
      h2 {
        max-width: 600px;
      }
    }
  }
}
.events {
  .sectionContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    h2 {
      max-width: 1000px;
    }
    .eventsContainer {
      display: flex;
      gap: 50px;
      .event {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        img {
          width: 100%;
          border-radius: 20px;
        }
        p {
          max-width: 380px;
        }
        a {
          display: flex;
          line-height: 25px;
          margin-top: auto;
          text-wrap: nowrap;
        }
      }
    }
  }
}
.reserve {
  background: linear-gradient(270deg, rgba(255,251,245,1) 0%, rgba(255,232,232,1) 100%);
  display: flex;
  padding: 50px;
  .sectionContainer {
    gap: 50px;
    border: 1px solid $text;
    border-radius: 20px;
    padding: 50px 100px;
    margin: 50px auto;
    .textContainer {
      flex-grow: 0;
      h2 {
        max-width: none;
        
      }
    }
    .inputContainer {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      .inputWithButton {
        display: flex;
        gap: 20px;
        input {
          border-radius: 10px;
          border: 1px solid $text;
          padding: 12px 30px;
          background: transparent;
          font-size: 16px;
          line-height: 100%;
          flex-grow: 1;
          transition: 0.3s ease;
          &::placeholder {
            color: $text;
          }
          &:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          }
          &:focus-visible {
            outline: 0;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          }
        }
        button {
          flex-grow: 0;
          line-height: 100%;
        }
      }
      p {
        max-width: none;
        font-size: 12px;
        color: #1c2936a3;
        margin: 15px 0;
      }
    }
  }
  @media (max-width: 1200px) {
    .sectionContainer {
      flex-direction: column;
      padding: 40px 50px;
      gap: 25px;
      p {
        text-align: center;
      }
      h2 {
        text-align: center;
      }
      .inputContainer {
        .inputWithButton {
          flex-direction: column;
          input {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 7px;
          }
          button {
            width: fit-content;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
.craft {
  .sectionContainer {
    display: flex;
    gap: 50px;
    img {
      border-radius: 20px;
      max-height: 500px;
      max-width: 500px;
    }
    .textContainer {
      max-width: 700px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2 {
        max-width: 600px;
      }
      .offersContainer {
        display: flex;
        gap: 50px;
        .offer {
          display: flex;
          flex-direction: column;
          h3 {
            margin: 10px 0;
          }
          p {
            margin: 0;
          }
          img {
            width: 48px;
          }
        }
      }
    }
  }
}
.workshop {
  display: flex;
  background: radial-gradient(ellipse farthest-corner at 140% 70%, #fffbf5 0%,#ffe0e0 23%,#fff9e5 64%,#ece6fa 100%);
  padding: 0 50px;
  .sectionContainer {
    flex-direction: column;
    align-items: center;
    border: 1px solid $text;
    border-radius: 20px;
    max-width: 1100px;
    padding: 50px 170px;
    margin: 100px auto;
    background: $bg;
    h2 {
      text-align: center;
      max-width: none;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      input[type="text"],input[type="email"] {
        padding: 15px;
        margin: 10px 0 30px 0;
        border: 1px solid $text;
        border-radius: 5px;
        background-color: transparent;
        transition: 0.3s ease;
        &:hover {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        }
        &:focus-visible {
          outline: none;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        }
      }
      textarea {
        resize: none;
        border: 1px solid $text;
        background-color: transparent;
        font-family: Rufina;
        padding: 15px;
        border-radius: 5px;
        transition: 0.3s ease;
        &:hover {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        }
        &:focus-visible {
          outline: none;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        }
      }
      p {
        font-size: 10px;
        color: #1c2936a3;
        margin-bottom: 30px;
      }
      button {
        max-width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
footer {
  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .social-networks {
      display: flex;
      justify-content: center;
      gap: 12px;
    }
    .social-link {
      display: block;
      padding: 8px;
      height: 40px;
      svg>path {
        transition: 0.4s ease;
      }
      @media (hover: hover) {
        &:hover {
          svg>path {
            stroke: $orange;
          }
        }
      }
      @media (hover: none) {
        &:active {
          svg>path {
            stroke: $orange;
          }
        }
      }
    }
    .copyright {
      pointer-events: none;
    }
  }
}


.showcase {
  .sectionContainer {
    padding: 50px 50px;
    @media (max-width: 650px) {
      padding: 50px 25px;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
    .text-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      text-align: center;
      align-items: center;
    }
  }
}
.slider-container {
  max-width: 1400px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: -1;
  display: flex;
  gap: 20px; 
  transition: 0.6s ease-in-out;
}
.slider-item {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  transition: 0.6s ease-in-out;
}
.slider-image {
  height: 330px;
  border-radius: 20px;
}
.controls-container {
  display: flex;
  max-width: 1276px;
  width: 100%;
  gap: 20px;
  margin: 0 auto;
  justify-content: end;
}
.control {
  display: block;
  background-color: transparent;
  border: 1px solid $text;
  border-radius: 50px;
  padding: 10px;
  transition: 0.4s ease;
  svg {
    display: block;
    path {
      stroke: $text;
    }
  }
  @media (hover: hover) {
    &:hover {
      background-color: $orange;
      border-color: white;
      svg>path {
        stroke: white;
      }
    }
  }
  @media (hover: none) {
    &:active {
      background-color: $orange;
      svg>path {
        stroke: white;
      }
    }
  }
  &:disabled {
    border-color: gray;
    pointer-events: none;
    &>svg>path {
      stroke: gray;
    }
  }
}

@media (max-width: 1000px) {
  .discover {
    .sectionContainer {
      flex-wrap: wrap;
      flex-direction: column;
      gap: 50px;
      .imgContainer {
        margin-left: 0;
      }
    }
  }
  .cocktails {
    .sectionContainer {
      gap: 50px;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
  .events {
    .sectionContainer {
      .eventsContainer {
        flex-direction: column;
      }
    }
  }
  .craft {
    .sectionContainer {
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
  .workshop {
    .sectionContainer {
      padding: 30px 20px;
      p {
        text-align: center;
        max-width: 80%;
      }
      form {
        input[type="text"],input[type="email"] {
          padding: 7px;
        }
        textarea {
          padding: 7px;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .page-header .headerContainer {
    padding: 12px 25px;
  }
  .sectionContainer {
    padding: 50px 25px;
    .imgContainer {
      max-width: 400px;
    }
    .textContainer {
      p {
        font-size: 14px;
      }
      h2 {
        font-size: 35px;
      }
    }
    p {
      font-size: 14px;
    }
  }
  a.reserveButton {
    padding: 8px 20px;
  }
  h2 {
    font-size: 30px;
  }
  .discover {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }
    .containerButtons {
      gap: 25px;
      &:last-child {
        font-size: 14px;
      }
    }
  }
  .reserve {
    .sectionContainer {
      padding: 30px 20px;
      input#tel {
        font-size: 12px;
      }
    }
  }
  .controls-container{
    padding: 0 25px;
  }
}